<h1>
  Edit membership #<%= @membership.id %>
</h1>

<hr>

<!-- Form membership start -->
<form action="/update_membership/<%= @membership.id %>" method="post">
<!-- Form membership end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @membership.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for cause_id start -->
  <div class="form-group">
    <label for="cause_id">
      Cause
    </label>

    <!-- Input for cause_id start -->
    <input type="text" id="cause_id" name="cause_id" class="form-control" value="<%= @membership.cause_id %>">
    <!-- Input for cause_id end -->
  </div>
  <!-- Label and input for cause_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update membership
  </button>
</form>

<hr>

<a href="/memberships">
  Go back
</a>
