<form action="/create_customized_preference_from_event" method="post">

  <input type="hidden" name="event_id" value="<%= @event.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @customized_preference.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="transaction_amount">
      Transaction amount
    </label>

    <input type="text" id="transaction_amount" name="transaction_amount" class="form-control" value="<%= @customized_preference.transaction_amount %>">
  </div>

  <div class="form-group">
    <label for="goal_id">
      Goal
    </label>

    <%= select_tag(:goal_id, options_from_collection_for_select(Goal.all, :id, :user_id, @customized_preference.goal_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create customized preference
  </button>
</form>
