<form action="/create_membership_from_cause" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @membership.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="cause_id" value="<%= @cause.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create membership
  </button>
</form>
